.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    position: relative;
}
.title {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}
.content {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
}