.d_page{
  background: 
    repeating-linear-gradient(
        45deg, 
        red 0, 
        red 10px,
        #fff 10px,
        #fff 20px,
        blue 20px, 
        blue 30px,
        #fff 30px,
        #fff 40px
    ) left top / 100% 5px no-repeat;
  background-color: #d5e5f38c;
  overflow: hidden auto;
  padding-top: 5px;
}