html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background-color: #0070f3;
}
::-webkit-scrollbar-track {
    background-color: #ddd;
}
.markdown-body{
  background-color: transparent !important;
}
.markdown-body pre{
  padding: 0 !important;
  background-color: transparent !important;
}

.grid-bg{
  background-image: linear-gradient(90deg,rgba(50,0,0,.05) 3%,transparent 0),linear-gradient(1turn,rgba(50,0,0,.05) 3%,transparent 0);
  background-size: 20px 20px;
}